@model TiemTraSua.Models.TbPhanHoi

@{
    ViewData["Title"] = "Liên hệ";
    ViewData["Contact"] = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Breadcrumb Begin-->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a asp-controller="home" asp-action="index">
                        <i class="fa-solid fa-house"></i>
                        Trang chủ
                    </a>
                    <span>Liên hệ</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Breadcrumb End-->

<!--Contact Section Begin-->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__content">
                    <div class="contact__address">
                        <h5>Thông tin liên hệ</h5>
                        <ul>
                            <li>
                                <h6>
                                    <i class="fas fa-location-arrow"></i>
                                    Địa chỉ
                                </h6>
                                <p>Lưu Chí Hiếu, Vũng Tàu</p>
                            </li>
                            <li>
                                <h6>
                                    <i class="fas fa-phone"></i>
                                    Điện thoại
                                </h6>
                                <p><span>0964.572.172</span></p>
                            </li>
                            <li>
                                <h6>
                                    <i class="fas fa-envelope"></i>
                                    Hỗ trợ
                                </h6>
                                <p>kimthoavt2k@gmail.com</p>
                            </li>
                        </ul>
                    </div>
                    <div class="contact__form">
                        <h5>Gửi lời nhắn</h5>
                        <p class="@TempData["Status"]">@TempData["Message"]</p>
                        <form asp-action="index">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input
                                asp-for="TieuDe"
                                type="text"
                                class="form-control"
                                maxlength="50"
                                placeholder="Tiêu đề"
                                autocomplete="off"
                                required />
                            <input
                                asp-for="SoDienThoai"
                                type="tel"
                                class="form-control"
                                maxlength="10"
                                placeholder="Số điện thoại"
                                autocomplete="off"
                                required />
                            <textarea
                                asp-for="NoiDung"
                                class="form-control"
                                placeholder="Lời nhắn"
                                required>
                            </textarea>
                            <button type="submit" value="Create" class="site-btn">Gửi lời nhắn</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="contact__map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.12790810535!2d106.34537927484463!3d9.923303990178223!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a019e18c9f6c39%3A0x7974266dda8bb87!2zMTI2IE5ndXnhu4VuIFRoaeG7h24gVGjDoG5oLCBQaMaw4budbmcgNSwgVHLDoCBWaW5oLCA5NDAwMDAsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1764075458196!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Contact Section End-->
