USE [master]
GO
/****** Object:  Database [QLTraSuaKimThoa]    Script Date: 11/30/2025 15:09:39 ******/
CREATE DATABASE [QLTraSuaKimThoa] ON  PRIMARY 
( NAME = N'QLTraSuaKimThoa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QLTraSuaKimThoa.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLTraSuaKimThoa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QLTraSuaKimThoa_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTraSuaKimThoa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTraSuaKimThoa]
GO
/****** Object:  Table [dbo].[tbQuanTriVien]    Script Date: 11/30/2025 15:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbQuanTriVien](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenNguoiDung] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tbQuanTriVien] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbQuanTriVien] ON
INSERT [dbo].[tbQuanTriVien] ([Id], [TenNguoiDung], [MatKhau]) VALUES (1, N'admin', N'123456')
SET IDENTITY_INSERT [dbo].[tbQuanTriVien] OFF
/****** Object:  Table [dbo].[tbPhanHoi]    Script Date: 11/30/2025 15:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPhanHoi](
	[MaPhanHoi] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](50) NOT NULL,
	[SoDienThoai] [nvarchar](10) NULL,
	[NoiDung] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbPhanHoi] PRIMARY KEY CLUSTERED 
(
	[MaPhanHoi] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbPhanHoi] ON
INSERT [dbo].[tbPhanHoi] ([MaPhanHoi], [TieuDe], [SoDienThoai], [NoiDung]) VALUES (1, N'Nhận xét trà sữa của quán', N'023456789', N'Ngon quá trời ')
INSERT [dbo].[tbPhanHoi] ([MaPhanHoi], [TieuDe], [SoDienThoai], [NoiDung]) VALUES (2, N'TS', N'1234567890', N'adbsd')
SET IDENTITY_INSERT [dbo].[tbPhanHoi] OFF
/****** Object:  Table [dbo].[tbNhomSanPham]    Script Date: 11/30/2025 15:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbNhomSanPham](
	[MaNhomSP] [int] IDENTITY(1,1) NOT NULL,
	[TenNhomSP] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__tbNhomSa__5A1AD2F985F055E7] PRIMARY KEY CLUSTERED 
(
	[MaNhomSP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbNhomSanPham] ON
INSERT [dbo].[tbNhomSanPham] ([MaNhomSP], [TenNhomSP]) VALUES (1, N'Trà sữa')
INSERT [dbo].[tbNhomSanPham] ([MaNhomSP], [TenNhomSP]) VALUES (2, N'Matcha')
INSERT [dbo].[tbNhomSanPham] ([MaNhomSP], [TenNhomSP]) VALUES (3, N'Bánh ngọt')
SET IDENTITY_INSERT [dbo].[tbNhomSanPham] OFF
/****** Object:  Table [dbo].[tbKhachHang]    Script Date: 11/30/2025 15:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbKhachHang](
	[Id] [uniqueidentifier] NOT NULL,
	[TenKhachHang] [nvarchar](50) NOT NULL,
	[SDTKhachHang] [nvarchar](10) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__tbKhachH__3214EC0779854367] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[tbKhachHang] ([Id], [TenKhachHang], [SDTKhachHang], [DiaChi]) VALUES (N'a1db48c1-75d5-4824-81c6-0b923e3d6700', N'thoa1', N'0123456789', N'126')
INSERT [dbo].[tbKhachHang] ([Id], [TenKhachHang], [SDTKhachHang], [DiaChi]) VALUES (N'55874099-f744-491c-af44-9eefbc7f5a7d', N'cb', N'1234567890', N'bf')
INSERT [dbo].[tbKhachHang] ([Id], [TenKhachHang], [SDTKhachHang], [DiaChi]) VALUES (N'12366196-fe21-4e15-9937-d713ab810b68', N'Trung Kính', N'0935179924', N'nguyentrungkinh0802@gmail.com')
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/30/2025 15:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251125122417_First-migration', N'8.0.17')
/****** Object:  Table [dbo].[tbTinTuc]    Script Date: 11/30/2025 15:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTinTuc](
	[MaTinTuc] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](255) NOT NULL,
	[NgayDang] [date] NULL,
	[NoiDung] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](max) NULL,
 CONSTRAINT [PK__tbTinTuc__B53648C018B441C9] PRIMARY KEY CLUSTERED 
(
	[MaTinTuc] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbTinTuc] ON
SET IDENTITY_INSERT [dbo].[tbTinTuc] OFF
/****** Object:  Table [dbo].[tbSanPham]    Script Date: 11/30/2025 15:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbSanPham](
	[MaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](255) NOT NULL,
	[GiaBan] [money] NULL,
	[MoTa] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[MaNhomSP] [int] NOT NULL,
 CONSTRAINT [PK__tbSanPha__FAC7442DA6D9D8DC] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_tbSanPham_MaNhomSP] ON [dbo].[tbSanPham] 
(
	[MaNhomSP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbSanPham] ON
INSERT [dbo].[tbSanPham] ([MaSanPham], [TenSanPham], [GiaBan], [MoTa], [HinhAnh], [GhiChu], [MaNhomSP]) VALUES (2, N'Matcha Latte', 40000.0000, N'Matcha latte là thức uống pha chế từ bột trà xanh matcha Nhật Bản và sữa, tạo ra sự kết hợp độc đáo giữa vị chát nhẹ, thơm của trà với vị béo ngậy của sữa.', N'4622b238-3a34-42aa-a80b-4286527f48c5_cach-pha-matcha-latte-nong.jpg', NULL, 2)
INSERT [dbo].[tbSanPham] ([MaSanPham], [TenSanPham], [GiaBan], [MoTa], [HinhAnh], [GhiChu], [MaNhomSP]) VALUES (3, N'Matcha Coconut', 40000.0000, N'Matcha dừa là sự kết hợp độc đáo giữa vị thanh mát, ngọt tự nhiên của dừa và hương thơm đặc trưng, đậm đà của trà xanh matcha Nhật Bản.', N'c6fa2737-6a0a-4dc3-9387-6a85bb9bed50_cach-pha-Matcha-coco.jpg', NULL, 2)
INSERT [dbo].[tbSanPham] ([MaSanPham], [TenSanPham], [GiaBan], [MoTa], [HinhAnh], [GhiChu], [MaNhomSP]) VALUES (4, N'Trà sữa khoai môn', 35000.0000, NULL, N'1854209a-8b5f-46da-b29d-518606a561b3_tra-sua-khoai-mon__2__3d8987df6b8a44aab040015839787cc7_grande.png', NULL, 1)
SET IDENTITY_INSERT [dbo].[tbSanPham] OFF
/****** Object:  Table [dbo].[tbHoaDonBan]    Script Date: 11/30/2025 15:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbHoaDonBan](
	[MaHoaDon] [uniqueidentifier] NOT NULL,
	[SoHoaDon] [nvarchar](14) NOT NULL,
	[NgayBan] [datetime] NULL,
	[TongTien] [money] NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK__tbHoaDon__835ED13BE78BDB82] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_tbHoaDonBan_CustomerId] ON [dbo].[tbHoaDonBan] 
(
	[CustomerId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [UQ__tbHoaDon__012E9E53087434A1] ON [dbo].[tbHoaDonBan] 
(
	[SoHoaDon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[tbHoaDonBan] ([MaHoaDon], [SoHoaDon], [NgayBan], [TongTien], [CustomerId]) VALUES (N'e511435a-982d-41a2-8fc2-64c5cf4958de', N'45', CAST(0x0000B3A101812992 AS DateTime), 70000.0000, N'55874099-f744-491c-af44-9eefbc7f5a7d')
INSERT [dbo].[tbHoaDonBan] ([MaHoaDon], [SoHoaDon], [NgayBan], [TongTien], [CustomerId]) VALUES (N'fd6e9079-bcb7-4de0-bab1-80f5f3998f99', N'48', CAST(0x0000B3A1017F8812 AS DateTime), 80000.0000, N'12366196-fe21-4e15-9937-d713ab810b68')
INSERT [dbo].[tbHoaDonBan] ([MaHoaDon], [SoHoaDon], [NgayBan], [TongTien], [CustomerId]) VALUES (N'4b4e9d32-c945-4a7b-9cba-903c1444219f', N'14', CAST(0x0000B3A500E5580C AS DateTime), 70000.0000, N'a1db48c1-75d5-4824-81c6-0b923e3d6700')
/****** Object:  Table [dbo].[tbChiTietHoaDonBan]    Script Date: 11/30/2025 15:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbChiTietHoaDonBan](
	[MaHoaDon] [uniqueidentifier] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[GiaBan] [money] NULL,
	[GiamGia] [int] NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [money] NULL,
 CONSTRAINT [PK__tbChiTie__52F2A93ED9FFE6AD] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC,
	[MaHoaDon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_tbChiTietHoaDonBan_MaHoaDon] ON [dbo].[tbChiTietHoaDonBan] 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[tbChiTietHoaDonBan] ([MaHoaDon], [MaSanPham], [GiaBan], [GiamGia], [SoLuong], [ThanhTien]) VALUES (N'fd6e9079-bcb7-4de0-bab1-80f5f3998f99', 2, 40000.0000, 0, 1, 40000.0000)
INSERT [dbo].[tbChiTietHoaDonBan] ([MaHoaDon], [MaSanPham], [GiaBan], [GiamGia], [SoLuong], [ThanhTien]) VALUES (N'fd6e9079-bcb7-4de0-bab1-80f5f3998f99', 3, 40000.0000, 0, 1, 40000.0000)
INSERT [dbo].[tbChiTietHoaDonBan] ([MaHoaDon], [MaSanPham], [GiaBan], [GiamGia], [SoLuong], [ThanhTien]) VALUES (N'e511435a-982d-41a2-8fc2-64c5cf4958de', 4, 35000.0000, 0, 2, 70000.0000)
/****** Object:  ForeignKey [FK__tbSanPham__MaNho__46E78A0C]    Script Date: 11/30/2025 15:09:41 ******/
ALTER TABLE [dbo].[tbSanPham]  WITH CHECK ADD  CONSTRAINT [FK__tbSanPham__MaNho__46E78A0C] FOREIGN KEY([MaNhomSP])
REFERENCES [dbo].[tbNhomSanPham] ([MaNhomSP])
GO
ALTER TABLE [dbo].[tbSanPham] CHECK CONSTRAINT [FK__tbSanPham__MaNho__46E78A0C]
GO
/****** Object:  ForeignKey [FK__tbHoaDonB__Custo__45F365D3]    Script Date: 11/30/2025 15:09:41 ******/
ALTER TABLE [dbo].[tbHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK__tbHoaDonB__Custo__45F365D3] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[tbKhachHang] ([Id])
GO
ALTER TABLE [dbo].[tbHoaDonBan] CHECK CONSTRAINT [FK__tbHoaDonB__Custo__45F365D3]
GO
/****** Object:  ForeignKey [FK__tbChiTiet__MaHoa__440B1D61]    Script Date: 11/30/2025 15:09:41 ******/
ALTER TABLE [dbo].[tbChiTietHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK__tbChiTiet__MaHoa__440B1D61] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[tbHoaDonBan] ([MaHoaDon])
GO
ALTER TABLE [dbo].[tbChiTietHoaDonBan] CHECK CONSTRAINT [FK__tbChiTiet__MaHoa__440B1D61]
GO
/****** Object:  ForeignKey [FK__tbChiTiet__MaSan__44FF419A]    Script Date: 11/30/2025 15:09:41 ******/
ALTER TABLE [dbo].[tbChiTietHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK__tbChiTiet__MaSan__44FF419A] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[tbSanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[tbChiTietHoaDonBan] CHECK CONSTRAINT [FK__tbChiTiet__MaSan__44FF419A]
GO
