<div class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="../../img/instagram/insta-01.jpg">
                    <div class="instagram__text">
                        <i class="fab fa-instagram"></i>
                        <a href="https://www.instagram.com/coffee/" target="_blank">@@kimthoamilktea</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="../../img/instagram/insta-001.jpg">
                    <div class="instagram__text">
                        <i class="fab fa-instagram"></i>
                        <a href="https://www.instagram.com/coffee/" target="_blank">@@kimthoamilktea</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="../../img/instagram/insta-02.jpg">
                    <div class="instagram__text">
                        <i class="fab fa-instagram"></i>
                        <a href="https://www.instagram.com/coffee/" target="_blank">@@kimthoamilktea</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="../../img/instagram/insta-002.jpg">
                    <div class="instagram__text">
                        <i class="fab fa-instagram"></i>
                        <a href="https://www.instagram.com/coffee/" target="_blank">@@kimthoamilktea</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="../../img/instagram/insta-03.jpg">
                    <div class="instagram__text">
                        <i class="fab fa-instagram"></i>
                        <a href="https://www.instagram.com/coffee/" target="_blank">@@kimthoamilktea</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="../../img/instagram/insta-003.jpg">
                    <div class="instagram__text">
                        <i class="fab fa-instagram"></i>
                        <a href="https://www.instagram.com/coffee/" target="_blank">@@kimthoamilktea</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
